.container{
     background-color:white;
     width: 1000px;
     height: 500px;
     margin: auto;
     
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-top: 100px;
}

header{
    width: 300px;
    height: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color:rgb(132, 9, 9); 
    font-size: 50px;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-left:5px solid rgb(227, 94, 94);
    border-right:5px solid rgb(227, 94, 94);

}
.ChildChild{
    height: 200px;
    background-color:white;
    border-left: 5px solid rgb(209, 206, 206);
    width: 300px;
border-right: 5px solid rgb(209, 206, 206);
    text-align: center;
    
    font-size: 80px;
    position: relative;
}
.mois{
position: absolute;
top: 10px;
left: 50%;
transform: translateX(-50%);
font-weight: bold;
color: grey;

}
.jour{
   position: absolute;
   bottom: 10px;
   left: 40%;
   font-weight: bold;
   color: grey;
}

footer{
    width: 300px;
    height: 100px;
    
    border-left:5px solid rgb(227, 94, 94);
    border-right:5px solid rgb(227, 94, 94);
    border-bottom-left-radius:40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(132, 9, 9); 
    font-size: 50px;
    text-align: center;
    color: white;
    padding-top:20px ;
}


.child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    
    border-bottom: 5px solid rgb(227, 94, 94);
    border-top: 6px solid rgb(227, 94, 94);
}
.secondChild p{
    display: inline;
    font-size: 150px;
    font-weight: bolder;
    color: rgb(67, 65, 65);
}
#seconde{
    font-size: 80px;
}
#PmOrAm{
    font-size: 80px;
    margin-left: 10px;
}
#hours{
    margin-left: 50px;
}
#hours:hover{
    cursor: pointer;
}